:host {
  display: flex;
  justify-content: center;
}

form {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
}

.background {
  position: absolute;
  z-index: -1;
  margin-top: auto;
  padding-bottom: 8px;
  width: 42vw;
  min-width: 400px;
  opacity: 75%;
}

div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.custom-container {
  flex-direction: row;
  align-items: center;

  input {
    margin-bottom: 0;
  }
}

.bittie {
  font-size: 1.5rem;
  margin-right: 10px;
}

label,
span {
  color: var(--eerie-black);
  font-size: 0.9rem;
  letter-spacing: 1.4px;
  margin-left: 5px;
}

input {
  background-color: var(--seashell);
  color: var(--eerie-black);
  letter-spacing: 1px;
  border: none;
  outline: 1px solid var(--davys-gray);
  padding: 8px 15px;
  border-radius: 10px;
  box-shadow: inset -5px -5px 9px #ffffff73, inset 3px 3px 15px #5e68794d;
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;
}

input:focus {
  outline: 1px solid var(--eerie-black);
  background-color: var(--lighter);
}

button {
  cursor: pointer;
  align-self: center;
  color: var(--royal-purple);
  background-color: var(--seashell);
  border: none;
  display: flex;
  align-items: center;
  padding: 8px 15px;
  border-radius: 50px;
  box-shadow: -5px -5px 9px #ffffff73, 5px 5px 15px #5e68794d;
  margin-top: 50px;
  transition: all 0.3s ease-in-out;

  svg {
    height: 16px;
    margin-top: 3px;
  }

  span {
    font-size: 1.2rem;
    color: var(--eerie-black);
  }
}

button:hover {
  background-color: var(--light);
  box-shadow: -5px -5px 9px #ffffff73, 5px 5px 20px #5e68794d;

  span {
    color: black;
  }
}

.destination-container,
.custom-container {
  position: relative;
}

.error-message {
  font-size: 0.9rem;
  font-weight: 500;
  background-color: var(--light-coral);
  color: white;
  padding: 3px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 50px;
  position: absolute;
  left: 360px;
  top: 24px;
  min-width: 120px;
  text-align: center;
}

.error {
  outline: 2px solid var(--light-coral);
}

article {
  margin-top: 90px;
  margin-bottom: 90px;
  text-align: center;
}

.link-button,
.copy-button {
  margin: 0;
  font-size: 1rem;
  color: var(--eerie-black);
  letter-spacing: 1.2px;
  padding: 8px 20px;
}

.link-button {
  width: 300px;
}

.copy-button {
  padding: 8px;
  margin-left: 8px;
}

.copy-button:active {
  background-color: var(--royal-purple);
  box-shadow: 5px 8px 20px #c9b5eecc;
}

.link-container {
  flex-direction: row;
  margin-bottom: 25px;
}

.sign-up {
  margin-top: 35px;

  span {
    color: var(--davys-gray);
  }
}

a {
  cursor: pointer;
  color: var(--davys-gray);
  text-decoration: underline;
  transition: all 0.2s ease-in-out;
}

.sign-up:hover {
  a {
    color: black;
  }
}

.modal-backdrop {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8580801e;
  position: fixed;
  top: 0px;
  left: 0px;
  backdrop-filter: blur(0.2px);
}
