<main>
  <form [formGroup]="urlForm" (ngSubmit)="submitForm()">
    <img class="background" src="../assets/background.svg" aria-hidden="true" />
    <div>
      <div class="destination-container">
        <label for="destination">destination</label>
        <input
          type="text"
          id="destination"
          name="destination"
          formControlName="destination"
          required
          class="{{
            urlForm.get('destination')?.hasError('required') &&
            urlForm.get('destination')?.touched
              ? 'error'
              : ''
          }}"
        />
        @if(urlForm.get('destination')?.hasError('required') &&
        urlForm.get('destination')?.touched) {
        <span class="error-message">Add a valid url</span>
        } @else {<span></span>}
      </div>
      <div class="custom-container">
        <span class="bittie">bittie.eu /</span>
        <div>
          <label for="custom">custom link (optional)</label>
          <input
            type="text"
            id="custom"
            name="custom"
            formControlName="custom"
            class="{{ customError ? 'error' : '' }}"
          />
        </div>
        @if(customError) {
        <span class="error-message">Link taken</span>
        }
      </div>
      <button type="submit">
        <svg
          className="w-4 h-4 text-text mr-[2px]"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 28 28"
        >
          <path
            fill="currentColor"
            d="m21.5669,12.7007l-4.0422,2.0211c-1.213.6064-2.1965,1.59-2.8029,2.8029l-2.0211,4.0421c-.2887.5775-1.1127.5775-1.4015,0l-2.0211-4.0421c-.6064-1.213-1.59-2.1965-2.8029-2.8029l-4.0422-2.0211c-.5775-.2887-.5775-1.1127,0-1.4015l4.0422-2.0211c1.213-.6065,2.1965-1.5901,2.8029-2.803l2.0211-4.0421c.2887-.5775,1.1127-.5775,1.4015,0l2.0211,4.0421c.6064,1.213,1.59,2.1965,2.8029,2.803l4.0422,2.0211c.5775.2887.5775,1.1127,0,1.4015Z"
          />
        </svg>
        <span>create link</span>
      </button>
    </div>
  </form>
  <article>
    @if(this.filteredData.length > 0) {
    <div *ngFor="let element of filteredData">
      <div class="link-container">
        <button class="link-button" (click)="handleClick(element.id)">
          bittie.eu/{{ element.custom_url || element.id }}
        </button>
        <button
          class="copy-button"
          [attr.data-custom]="element.destination_url"
          (click)="copyData(element.custom_url, element.id)"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-copy"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path
              d="M7 7m0 2.667a2.667 2.667 0 0 1 2.667 -2.667h8.666a2.667 2.667 0 0 1 2.667 2.667v8.666a2.667 2.667 0 0 1 -2.667 2.667h-8.666a2.667 2.667 0 0 1 -2.667 -2.667z"
            />
            <path
              d="M4.012 16.737a2.005 2.005 0 0 1 -1.012 -1.737v-10c0 -1.1 .9 -2 2 -2h10c.75 0 1.158 .385 1.5 1"
            />
          </svg>
        </button>
      </div>
    </div>
    } @if(userId.user() === undefined) {

    <div *ngFor="let element of local">
      <div class="link-container">
        <button class="link-button">
          bittie.eu/{{ element.custom_url || element.id }}
        </button>
        <button
          class="copy-button"
          [attr.data-custom]="element.destination_url"
          (click)="copyData(element.custom_url, element.id)"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-copy"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path
              d="M7 7m0 2.667a2.667 2.667 0 0 1 2.667 -2.667h8.666a2.667 2.667 0 0 1 2.667 2.667v8.666a2.667 2.667 0 0 1 -2.667 2.667h-8.666a2.667 2.667 0 0 1 -2.667 -2.667z"
            />
            <path
              d="M4.012 16.737a2.005 2.005 0 0 1 -1.012 -1.737v-10c0 -1.1 .9 -2 2 -2h10c.75 0 1.158 .385 1.5 1"
            />
          </svg>
        </button>
      </div>
    </div>

    <div class="sign-up">
      <span>
        <a href="/login;destination=signup">sign up</a>
        to edit your links</span
      >
    </div>

    }
  </article>
  @if(this.editModal) {
  <div class="modal-backdrop" (click)="handleModal()">
    <app-edit-url
      [id]="selectedId"
      [modal]="editModal"
      (modalEvent)="handleModal($event)"
    />
  </div>
  }
</main>
