<main>
  <img class="background" src="../assets/background.svg" />
  <div class="container">
    @if( destination === 'login' ) {
    <div>
      <h1>👋 Welcome back!</h1>
      <span
        >Don't have an account?
        <a (click)="destination = 'signup'">Sign up</a></span
      >
    </div>
    } @if( destination === 'signup' ) {
    <div>
      <h1>Create your account</h1>
      <span
        >Already have an account?
        <a (click)="destination = 'login'">Log in</a></span
      >
    </div>
    }
    <asl-google-signin-button
      type="standard"
      size="large"
      shape="pill"
      text="continue_with"
      theme="filled_blue"
    ></asl-google-signin-button>
  </div>
</main>
