<header>
  <div (click)="router.navigate(['/'])">
    <img src="../assets/bittie.svg" />
    <span>bittie</span>
  </div>
  @if (loggedIn && photoURL) {
  <div class="container">
    <button (click)="handleModal()" class="user">
      <img [src]="photoURL" alt="User Photo" />
    </button>
    @if (logoutModal) {
    <app-logout (logoutEvent)="handleLogout($event)" class="logout" />
    }
  </div>
  } @if (!loggedIn) {
  <div>
    <button (click)="navigate('login')" class="login-button">log in</button>
    <button (click)="navigate('signup')" class="login-button">sign up</button>
  </div>
  }
</header>
