@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --seashell: #f3edec;
  --light: rgb(238, 231, 230);
  --lighter: rgb(243, 236, 235);
  --eerie-black: rgb(26, 24, 24);
  --davys-gray: rgb(79, 72, 88);
  --royal-purple: #a17ac5;
  --light-coral: #ed7474ff;
  --powder-blue: #c6ccf7;
  --apricot: #fbd1b1ff;

  font-family: "Inter", Roboto, sans-serif;
  background-color: var(--seashell);
  color: var(--eerie-black);
}

body {
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
}

h1 {
  color: var(--eerie-black);
  font-weight: 400;
  margin: 0;
}
